*{
    margin: 0;
}

body{
    background: url("https://images.unsplash.com/photo-1591365437381-2db81d59f1e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    transition: filter .7s;
}

h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.btn{
    padding: 12px;
    background-color: darkorchid;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(96, 50, 204);
}

.active.container{
    filter: blur(5px) brightness(.7);
}

.main-container{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url("https://images.unsplash.com/photo-1548426589-b5560481a46e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0 0 0 0.3);
    opacity: 1;
    transition: all 0.7s;
}

h2{
    color: white;
    font-size: 20px;
    margin: 10px 0;
    font-family: sans-serif;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    color: white;
    font-family: sans-serif;
}

.popup-btn{
    background-color: blueviolet;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.popup-btn:hover{
    background-color: rgb(98, 43, 226);
}

.input{
    font-size: 20px;
    text-align: center;
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
}

.input::placeholder{
    color: lightslategray;
}

.close-icon{
    position: absolute;
    right: 20px;
    top: 20px;
    color: darkmagenta;
    cursor: pointer;
}

.active.main-container{
    visibility: hidden;
    opacity: 0;
    top: 10%;
}